<% provide(:title, "Homepage") %>
<h1>Homepage</h1>
<p> </br>
  <form action="mailto:chelsey@gmail.com" method="post">
	  Email Address: <input type="email" name= "email" required="required" />
    Browser:
      <select name= "browser" required="required" />
        <option value="nil">
        <option value="Chrome">Chrome
        <option value="Firefox">Firefox
        <option value="IE">Internet Explorer
        <option value="Safari">Safari
      </select>
	  OS:
	    <select name="os" required="required" />
        <option value="nil"> 
        <option value="mac">Mac
        <option value="pc">PC
      </select>
	  <input type="submit" value="Start Checklist">
	</form>
        Insert table of contents hereee
</p>