<% provide(:title, "Homepage") %>
</br></br>
<h2>Ready to Start the Checklist?</h2>
<p> </br>
  <form action="/section" method="get">
    Email Address: 
      <input type="email" name= "email" required="required" />
    Browser:
      <select name= "browser" required="required" />
        <option value="nil">
        <option value="Chrome">Chrome
        <option value="Firefox">Firefox
        <option value="IE">Internet Explorer
        <option value="Safari">Safari
      </select>
    OS:
      <select name="os" required="required" />
        <option value="nil"> 
        <option value="mac">Mac
        <option value="pc">PC
      </select>
    <input type="submit" class="btn btn-large btn-primary" value="Start Checklist" >
  </form>
</p>