<% provide(:title, "Homepage") %>
<h1>Homepage</h1>
<p> </br>
        <form>
	  <label>Email Address</label>
	    <input type="email">
          <label>Browser</label>
            <select name="browser type">
              <option value="chrome">Chrome
              <option value="firefox">Firefox
              <option value="ie">Internet Explorer
              <option value="safari">Safari
            </select>
	  <label>OS</label>
	    <select name="os">
              <option value="mac">Mac
              <option value="pc">PC
            </select>
	  <input type="submit" value="Start Checklist">
	</form>
        Insert table of contents hereee.
</p>