<% provide(:title, "Table of Contents") %>
</br>
</br>
</br>

<head>
	<script src="toc.js" type="text/javascript"></script>
</head>

<body onload="generateTOC(document.getElementById('toc'));">

<h1>Table of Contents!</h1>
<div id='toc'>
	toc
</div>