<% provide(:title, "Topic 1") %>
<h1>Topic Page 1</h1>
<p>
	This is the a topic page 1 for the <a href="http://www.zooborns.typepad.com/zooborns/fennec-fox/">Fennec Checklist</a> of fun.
</p>

<input type="checkbox">