<% provide(:title, "Topic 2") %>
</br></br>
<h1>Section Page</h1>
<p>
	This is the first section page for the <a href="http://www.zooborns.typepad.com/zooborns/fennec-fox/">Fennec Checklist</a> of fun.
</p>

<body> 
  <div class="container">    
    <form>
	  </br><label>First Section</label>
	    <div class="aeo"></div>
	      Dumby text for the Action with EO. To continue down page!
	    <input type="radio" name="pet" value="dog" /> Success 
	    <input type="radio" name="pet" value="cat" /> Failure
	    <input type="radio" name="pet" value="cat" /> Blocker 
	    <input type="text" name="ticket" value="only a number" /> Ticket
	</form>
  </div>
	<%= yield %>
	<%= render 'layouts/footer' %>
</body>