<% provide(:title, "Topic 2") %>
<h1>Topic Page 2</h1>
<p>
	This is the a topic page for the <a href="http://www.zooborns.typepad.com/zooborns/fennec-fox/">Fennec Checklist</a> of fun.
	<ul>Something 1
		Something 2
		Something 3
	</ul>
</p>