<% provide(:title, "Topic 2") %>
<h1>Topic Page 2</h1>
<p>
	This is the a topic page 2 for the <a href="http://www.zooborns.typepad.com/zooborns/fennec-fox/">Fennec Checklist</a> of fun.
</p>

 <body> 
    <div class="container">
     <ol class="aeo">
    	<%= render 'section_pages/aeo' %>
 	 </ol>
    	<%= yield %>
    	<%= render 'layouts/footer' %>
    </div>
  </body>