<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Previous Page", '#', class: "btn btn-large btn-primary" %>
      <%= link_to "Next Page", '#', class: "btn btn-large btn-primary" %></li>
    </ul>
  </nav>
</footer>